@import "reset.css";
@import "fonts.css";
body {
    --positive: rgb(255, 213, 61);
    --negative: rgb(137, 145, 234);
    font-family: "Fk Roman";
    background-color: white;
    margin: 0;
    padding: 0;
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 17px;
    color: #444;
}

a {
    color: #444;
    text-decoration: none;
}

p {
    display: inline;
    margin-right: 10px;
}

.topText {
    width: 100%;
    margin-bottom: 4rem;
}

.topText h2::after {
    content: "";
    display: block;
    width: 180px;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    margin: 35px auto 41px auto;
    max-width: 575px;
    padding-right: 25px;
}

.topText h1 {
    font-size: 5rem;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
    font-size: 6vw;
    line-height: 1.2;
    font-weight: 300;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding-bottom: 40px;
}

.topText h2 {
    width: 75%;
    font-size: calc(12px + .5vw);
    line-height: calc(12px + 0.7vw);
    margin: auto;
    font-weight: normal;
    text-align: center;
}

.topText h3 {
    width: 60%;
    font-size: calc(12px + .5vw);
    line-height: calc(12px + 0.7vw);
    margin: auto;
    padding-top: 1rem;
    font-weight: normal;
    text-align: center;
}

.container {
    background: #666666;
    background: white;
    background: rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: scroll;
}

#content {
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    max-width: 1600px;
    display: block;
    margin: auto;
}

#map {
    position: relative;
    height: inherit;
    height: 75%;
    width: inherit;
}

.mapLayer {
    display: none;
}

.elements {
    height: 80vh;
    padding: 10px 5px 0 5px;
    word-break: normal;
    float: left;
    width: 4.444%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    transition: width 350ms ease-in-out, height 350ms ease-in-out;
}

.elements>div:not(.year) {
    overflow: scroll;
    overflow: scroll;
}

.open {
    width: 60% !important;
    -webkit-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    -o-transition: width 350ms ease-in-out, height 350ms ease-in-out;
    transition: width 350ms ease-in-out, height 350ms ease-in-out;
    /* height: 80vh; */
}

.elements:not(.open)>div:not(.year),
.elements:not(.open)>.element::before {
    font-size: calc(2px + .3vw) !important;
    line-height: 1vw;
    overflow: hidden;
    padding: 0;
    margin-bottom: 1vw;
    pointer-events: none;
    user-select: none;
    max-height: 25vh;
}

.elements:not(.open) #split {
    word-break: break-word;
    font-size: .4vw;
    font-size: 0px;
    min-width: 10px;
    display: block;
}

.elements:not(.open) {
    overflow: hidden;
    cursor: context-menu;
    /* overflow: scroll; */
    /* height: 76vh; */
}

.elements.open>.element {
    width: 31.3% !important;
    float: left !important;
    height: 95% !important;
    margin: 1%;
    overflow-x: hidden;
}

.elem {
    display: inline;
    margin: 0;
}

.info {
    display: block !important;
    margin: 2rem 0 3rem 0 !important;
    padding: 0.5rem;
    padding: 1em;
    padding-bottom: 1rem !important;
}

.pos_sents,
.neg_sents {
    display: block;
    width: 95%;
    margin-bottom: .5rem;
    padding-top: 1rem;
    border-radius: .3rem;
}

.pos_sents>a:hover {
    color: #444;
    text-emphasis: none;
    text-decoration: underline;
    text-decoration-color: #444;
    cursor: alias;
}

.neg_sents>a:hover {
    color: #444;
    text-decoration: underline;
    text-decoration-color: #444;
    cursor: alias;
}

#split {
    display: inline-block;
    margin: 0 6px 6px 0;
    padding: 0px 5px;
    color: #444;
    border-radius: .3rem;
    min-width: 40px;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
    user-select: none;
}

#split[value] {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 300;
    background-color: #f0f0f0;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
}

#legend {
    display: inline-block;
    padding: 0px 5px;
    color: #444;
    border-radius: .3rem;
    min-width: 40px;
    text-align: center;
    vertical-align: baseline;
    background-color: white;
    user-select: none;
    margin: 0;
}

.selected {
    background-color: #444 !important;
    color: #fff !important;
}

#split[value]:hover {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#split:hover {
    text-decoration: underline;
    cursor: pointer;
}

h2 #split:hover {
    text-decoration: unset;
    cursor: unset;
}

h2 div {
    display: block;
    margin: auto;
    line-height: 1.4;
}

.negative {
    background: var(--negative)!important;
}

.positive {
    background: var(--positive) !important;
}

.neutral {
    background: rgb(249, 248, 248);
    background: none !important;
}

.element[data-type=entities]::before {
    content: "Le persone";
}

.element[data-type=organizations]::before {
    content: "Le cose";
}

.element[data-type=places]::before {
    content: "I luoghi";
}

.searchResult {
    background: white;
    width: 100%;
}

.searchedElementContainer .year {
    padding: 0;
    margin: 0;
    background: none;
}

.searchedElement {
    word-break: break-word;
}

.searchedElementContainer {
    width: 33vw;
    width: 18.65%;
    height: 35%;
    display: inline-block;
    margin: .5%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.searchedElementContent {
    height: 100%;
    overflow: scroll;
}

.searchedElementContent,
.searchedElementContainer .year {
    padding: .5vw;
}

.choise {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
}

#autocomplete {
    height: auto;
}

ul {
    position: absolute;
    width: 350px;
    z-index: 100;
    transition: background 0.3s ease-out, color 0.3s ease-out, border-color 0.3s ease-out;
}

ul li:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

ul li {
    display: block;
    border-bottom: 1px solid grey;
    font-size: 15px;
    padding: 9px 15px 9px 15px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
    line-height: 30px;
    letter-spacing: 0.05em;
    width: 350px;
    height: auto;
    float: left;
    outline: none;
    border: none;
    padding: 9px 15px 9px 15px;
    margin: auto;
    background-color: #ffffff;
    vertical-align: bottom;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-appearance: none;
    -webkit-appearance: none;
}

.element::before {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.search {
    padding: 2%;
    height: 100px;
    width: 50%;
    width: 620px;
    margin: auto;
}

#searches,
.search {
    font-size: 1.2rem;
}

.searchAmount {
    font-size: calc(12px + .5vw) !important;
    line-height: 2.2;
    margin-top: 1vw;
    margin-bottom: 3vw;
    text-align: center;
}

#year {
    width: 100%;
    display: block;
    margin: auto;
    font-size: calc(12px + .5vw) !important;
    line-height: 2.2;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-align: center;
}

#timeline {
    width: 80%;
    margin: 10px 10% 10px 10%;
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    margin-bottom: 3vw;
}

#timeline:hover {
    opacity: 1;
}

#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 20px;
}

#timeline::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 20px;
}

#searches::before {
    content: "";
    display: block;
}

#searchValue {
    display: none;
    min-height: 80vh;
}

#content {
    display: block;
}

input,
button {
    font-family: Fk Roman;
    cursor: pointer;
}

#searchWord {
    width: 150px;
    height: 49px;
    float: left;
    font-size: 15px;
    padding: 9px 15px 9px 15px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
    line-height: 30px;
    letter-spacing: 0.05em;
    height: auto;
    float: left;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 9px 15px 9px 15px;
    margin: auto;
    background-color: #ffffff;
    vertical-align: bottom;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-left: 10px;
}

#searchWord:active {
    background-color: rgba(0, 0, 0, 0.175);
    ;
}

#tags {
    font-size: 15px;
    padding: 9px 15px 9px 15px;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
    line-height: 30px;
    letter-spacing: 0.05em;
    height: auto;
    float: left;
    outline: none;
    width: 350px;
    border-radius: 3px;
    border: none;
    padding: 9px 15px 9px 15px;
    margin: auto;
    background-color: #ffffff;
    vertical-align: bottom;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: text;
}

#title p {
    font-weight: bold;
    font-size: 1.1rem;
    background: unset;
    margin: 0;
    padding: 0;
    text-align: left;
}

.year {
    font-weight: bolder;
    font-size: calc(12px + .5vw) !important;
    z-index: 10;
}

::selection {
    background: #444;
    color: white;
}

::-moz-selection {
    background: #444;
    color: white;
}

::-webkit-scrollbar {
    width: 1px;
    width: 0;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background-color: #444;
    outline: 1px solid transparent;
}

@media screen and (min-width: 1024px) {
    .searchedElementContainer {
        width: 18.65%;
    }
}

@media screen and (min-width: 766px) {
    .searchedElementContainer {
        width: 31.88%;
    }
}

@media screen and (min-width: 460px) and (max-width: 765px) {
    .searchedElementContainer {
        width: 99.88%;
    }
    .topText h3 {
        width: 90%;
    }
    #content {
        overflow: scroll;
    }
    .search {
        width: 90%;
    }
    .open {
        width: 100% !important;
        height: 400px;
    }
    .elements {
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    }
    .elements:not(.open) {
        width: 100% !important;
        height: 50px;
    }
    .elements:not(.open)>*:not(.year) {
        display: none;
    }
}

@media screen and (max-width: 459px) {
    .search {
        width: 59%;
    }
    .topText h3 {
        width: 90%;
    }
    .topText h2 {
        width: 98%;
        line-height: calc(16px + 0.7vw);
    }
    h2 #split {
        margin: 0 1px 1px 0;
    }
    .open {
        width: 100% !important;
        height: 400px;
    }
    .elements {
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    }
    .elements:not(.open) {
        width: 100% !important;
        height: 50px;
    }
    .elements:not(.open)>*:not(.year) {
        display: none;
    }
    .search {
        width: 100%
    }
    #tags {
        width: 100%;
        max-width: unset;
    }
    #searchWord {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .searchedElementContainer {
        width: 99.88%;
    }
    ul li {
        width: 100% !important;
        width: 305px !important;
    }
}